doctype 5
html
  head
    title TreasureWar!
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/socket.io/socket.io.js')

    != js("vendor/underscore")
    != js("vendor/jquery")
    != js("vendor/easel")
    != js('treasurewar-ui')

  body
    block content
