doctype 5
html
  head
    title TreasureWar!
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/socket.io/socket.io.js')

    script(src="/javascripts/vendor/underscore.js")
    script(src="/javascripts/vendor/jquery.js")
    script(src="/javascripts/vendor/easel.js")
    script(src="/javascripts/treasurewar-ui.js")

  body
    block content
