doctype 5
html
  head
    title TreasureWar!
    != css("style")

    script(src='/socket.io/socket.io.js')

    != js("vendor/underscore")
    != js("vendor/jquery")
    != js("vendor/easel")
    != js("vendor/buzz")
    != js('treasurewar-ui')

  body
    block content
